* {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../assets/dg.png'), auto;
    /* transition: all 0.3s ease; */
 }
 
 html, body {
     height: 100%;
     width: 100%;
 }
 
 html {
     /* background-color: rgb(255, 255, 255); */
     background-color: #98c9f5;
 }

 body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
}

.me {
    position: absolute;
    width: 25vw;
    height: 65vh;
    top: 12vh;
    left: 68vw;
}

.domo {
    position: absolute;
    width: 100px;
    height:100px;
    top: 2.8%;
    left: 85%;
}

.description {
    position:absolute;
    font-family: Merriweather;
    transform:scale(1.8);
    top:28vh;
    left: 19.5vw;
}

#pronouns {
    position:absolute;
    font-size:large;
    font-family: Merriweather;
    transform:scale(3.5);
    top:80.5vh;
    left:77.5vw;
}

#back-arrow {
    position: fixed;
    top: 1.6%;
    left: 1.6%;
    z-index: 2000;
    width: 105px;
    transform: scaleX(-1);
    height: auto;
}
#back-arrow:hover {
    transform: scaleX(-1.21);
    transition: all 0.5s ease-in-out;
}