* {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../assets/dg.png'), auto;
    /* transition: all 0.3s ease; */
 }
 
 html, body {
     height: 100%;
     width: 100%;
 }
 
 html {
     /* background-color: rgb(255, 255, 255); */
     background-color: #98c9f5;
 }

 body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
}

.me {
    position: absolute;
    width: 25vw;
    height: 65vh;
    top: 12vh;
    left: 68vw;
}

.domo {
    position: absolute;
    width: 50px;
    height:50px;
    top: 14vh;
    left: 75vw;
}

.description {
    position:absolute;
    font-family: Merriweather;
    transform:scale(1.8);
    top:14vh;
    left: 32vw;
}

#pronouns {
    position:absolute;
    font-size:large;
    font-family: Merriweather;
    transform:scale(3.5);
    top:80.5vh;
    left:77.5vw;
}