* {
   font-family: Arial, Helvetica, sans-serif; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.3s ease;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    /* background-color: rgb(255, 255, 255); */
    background-color: #73bbfb;
}

body {
    overflow-x: hidden;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#name{
    text-align: center;
    /* text-indent: 1000px; */
    font-weight: 800;
    display: inline-block;
    -webkit-transform:scale(2.5,1); /* Safari and Chrome */
    transform:scale(2.5,1); /* W3C */
    font-size: 40px;
    font-stretch: ultra-expanded;
    letter-spacing: -0.30vh;
    color: black;
}

.bee-container {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
}

.bee {
    position:absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    right: -150px;
    transform: translate(-50%);
    animation: move-left 10s linear infinite;
}

@keyframes move-left{
    from{
        right:-150px;
    }
    to{
        right:100vw;
    }
}

.link{
    text-align: center;
    text-decoration: none;
    color:black;
    font-weight: 400;
    font-size: 20px;
}

.link:hover{
    opacity: 40%;
    transition: all 0.4s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #name{
        font-size: 1.25em;
    }
    #link-container{
        flex-direction: column;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #name{
        font-size: 1.5em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #name{
        font-size: 2em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #name{
        font-size: 3em;
    }
    #link-container{
        flex-direction: row;
    }
    .link{
        margin: 0.5em;
        font-size: 2em;
    }
}